* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.container {
  min-height: 100vh;
}
.cabecalho {
  display: flex;
  padding: 0 30px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d9dbe0;
}
.links {
  display: flex;
  gap: 50px;
}
.link {
  text-decoration: none;
  color: #030303;
  font-size: 18px;
  font-family: "montserrat", arial, sans-serif;
  line-height: 1.44;
  font-weight: 400;
}
.link:hover {
  color: #0053ff;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 60px;
}
.inf-hero {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 530px;
}
.titulo-hero {
  line-height: 50px;
  font-size: 55px;
  color: #030303;
  font-family: 'igrasans', arial, ;
  line-height: 1.25;
  font-weight: 400;
 
}
.desc-hero {
  line-height: 1.45px;
  color: #030303;
  font-size: 18px;
  font-weight: 400;
  
}
.img-logo {
  width: 500px;
  height: 500px;
  display: block;
  margin: 50px;
}
